@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,regular,500,600,700,100italic,200italic,300italic,500italic,600italic,700italic);
@font-face {
  font-family: "Pocket Calculator";
  src: url("../fonts/pockc.eot"), url("../fonts/pockc.ttf");
}
body {
  font: 500 18vh/18vh "Roboto Mono", sans-serif;
  width: 49vh;
  min-width: 195px;
  margin: 0.1vh auto;
  background-color: #aaddff;
  padding: 0.1vh 5px;
}

.calc__main {
  font: 500 2.5vh/5vh "Roboto Mono", sans-serif;
  border-radius: 3px;
  background-color: rgba(39, 38, 38, 0.9);
  margin: 0.1vh auto;
  padding: 0.2vh 2px 2px;
}

.calc-rows {
  margin: 1px;
  height: 11vh;
}
.calc-rows__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.6vh;
  padding: 1px;
  min-height: 11vh;
  background-color: #838b83;
  border-radius: 3px;
}
.calc-rows__first div {
  border: 0;
  border-radius: 0;
  font-style: italic;
  font-family: "Pocket Calculator";
}
.calc-rows--doublestring {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.calc-rows--result {
  font: 400 7.2vh/7vh "Pocket Calculator", sans-serif;
  width: 100%;
  text-align: right;
  padding: 0 10px;
}
.calc-rows--add-string {
  font: 400 4vh/3vh "Pocket Calculator", sans-serif;
  text-align: center;
  padding: 1px 0;
  margin: 1px;
}
.calc-rows--functions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.calc-rows--functions div {
  padding: 0;
  text-align: left;
  height: 50%;
}
.calc-rows--op-sign {
  font: 400 4vh/3vh "Pocket Calculator", sans-serif;
  text-align: center;
  padding: 6px 1px;
}
.calc-rows--math-sign {
  font: 400 4vh/3vh "Pocket Calculator", sans-serif;
  text-align: center;
  padding: 6px 1px;
}

.calc-rows__other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0;
  -webkit-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  transition: height 0.5s ease;
  margin: 0.1vh;
}
.calc-rows__other div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1vh;
  margin: 0.3vh;
  cursor: pointer;
  background-color: white;
}
.calc-rows__other div:active {
  background-color: #838b83;
}

.calc-rows__close {
  height: 0;
  padding: 0;
  -webkit-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  transition: height 0.5s ease;
  overflow: hidden;
}

.calc-rows__system div {
  background-color: cadetblue;
}

.button_ext {
  background-color: cornflowerblue !important;
}

.calc-rows__copyright {
  font: 400 3vh/2vh "Pocket Calculator", sans-serif;
  margin: 0.2vh;
  text-align: center;
  color: white;
}
.calc-rows__copyright a {
  color: inherit;
  text-decoration: none;
}